<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='./styles/index.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=M+PLUS+1&family=M+PLUS+2:wght@400;500;600&display=swap'
      rel='stylesheet'
    />
    <title>SNSAPP</title>
  </head>
  <body>
    <div class='top'>
      <!-- 左部分 -->
      <div class='sidebar'>
        <div class='title'><a href='/'>SNSAPP</a></div>
        <div class='sidebar-item'>
          <div class='flex home' onclick='home()'>
            <img src='images/home.png' alt='home' class='img' />
            <span class='sidebar-text'>ホーム</span>
          </div>
          <div class='flex search' onclick='search()'>
            <img src='images/search.png' alt='search' class='img' />
            <span class='sidebar-text'>検索</span>
          </div>
          <div class='flex bell' onclick='bell()'>
            <img src='images/bell.png' alt='bell' class='img' />
            <span class='sidebar-text'>通知</span>
          </div>
          <div class='flex dm' onclick='dm()'>
            <img src='images/dm.png' alt='dm' class='img' />
            <span class='sidebar-text'>メッセージ</span>
          </div>
          <div class='flex profile' onclick='profile()'>
            <img src='images/profile.png' alt='proflie' class='img' />
            <span class='sidebar-text'>プロフィール</span>
          </div>
          <div class='flex logout' onclick='logout()'>
            <img src='images/logout.png' alt='logout' class='img' />
            <span class='sidebar-text'>ログアウト</span>
          </div>
        </div>
        <div class='send' onclick='send()'>
          <button class='flex send-button'>
            <img src='./images/send.png' alt='send' class='img' />
            <span class='sidebar-text'>投稿</span>
          </button>
        </div>
      </div>
      <!-- 右部分　投稿 -->
      <div class='posts'>
        <div class='post'>
          <div class='user-info'>
            <div class='icon-box'>
              <img src='./images/testicon.png' alt='' class='icon' />
            </div>
            <div class='user-name'>名前</div>
          </div>
          <div class='content'>
            content aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa こんにちは テスト投稿 desu
          </div>
          <div class='like'>
            <img src='./images/like.png' alt='ハート' />
          </div>
        </div>
        <div class='post'>
          <div class='user-info'>
            <div class='icon-box'>
              <img src='./images/.png' alt='' class='icon' />
            </div>
            <div class='user-name'>あいうえお</div>
          </div>
          <div class='content'>
            content aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaa aaaaa
            aaaaaaaaaaaaaaaaa aa a a a a a a a aa
          </div>
          <div class='like'>
            <img src='./images/liked.png' alt='ハート' />
          </div>
        </div>
        <div class='post'>
          <div class='user-info'>
            <div class='icon-box'>
              <img src='./images/testicon.png' alt='' class='icon' />
            </div>
            <div class='user-name'>名前</div>
          </div>
          <div class='content'>
            content aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa こんにちは テスト投稿 desu
          </div>
          <div class='like'>
            <img src='./images/like.png' alt='ハート' />
          </div>
        </div>
      </div>
    </div>
    <script src='./js/index.js'></script>
  </body>
</html>