<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1, width=device-width' />
    <title>アカウント作成</title>
    <link rel='stylesheet' href='/styles/signup.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Love Ya Like A Sister:wght@400&display=swap'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=M PLUS 2:wght@400;500;600&display=swap'
    />
  </head>
  <body>
    <div class='signup'>
      <form action='/signup' method='post'>
        <div class='title'>SNSAPP</div>
        <div class='div'>アカウント作成</div>
        {{#if errors}}
          <div class='error'>
            <ul>
              {{#each errors}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
        <div class='signup-child'>
          <div class='div1'>
            <div class='div2'>メールアドレス</div>
            <input type='email' name='email' id='email' class='input' />
          </div>
          <div class='div3'>
            <div class='flex'>
              <div class='div4'>パスワード</div>
              <div class='div5'>※英数含む8文字以上</div>
            </div>
            <input
              type='password'
              name='password'
              id='password'
              class='input'
              required
            />
          </div>
          <div class='div3'>
            <div class='flex'>
              <div class='div4'>パスワード確認用</div>
            </div>
            <input
              type='password'
              name='repassword'
              id='repassword'
              class='input'
              required
            />
          </div>
          <div class='div6'>
            <input
              type='submit'
              value='作成'
              class='login'
              id='submit'
              disabled='true'
              required
            />
          </div>
          <div class='link'>
            <a href='/signin' class='link'>ログインへ</a>
          </div>
        </div>
      </form>
    </div>
    <script src='/js/signup.js'></script>
  </body>
</html>